.white {
  background-color: transparent;
}

.lightOrange {
  background-color: rgb(255, 214, 198);
}

#errorMessage {
  font-size: 12px;
}

#errorListHidden {
  display: none;
  margin: 0px;
  padding-left: 12%;
}

#errorListShown {
  margin: 0px;
  padding-left: 12%;
}
