#mainYearBox {
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid lightgray;
  width: calc(100% - 22px);
}

#yearBoxHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
}

#yearButtonGroups {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#buttonGroupSeperator {
  width: 10px;
}

#semesterWrapper {
  display: flex;
  flex-direction: row;
}
