#gradeSelector {
  border-style: solid;
  border-radius: 3px;
  min-width: 62px;
  width: 35%;
}

.selector {
  font-size: 17px;
  min-width: 58px;
  width: 100%;
  outline: none;
  border: none;
  background-color: transparent;
}
