#rowWrapper {
  /* margin-left: 5px;
  margin-right: 5px; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 60px;
}

#seperator {
  height: 15px;
}

#targetRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#fullDetails {
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  width: 500px;
}

#twoThirds {
  display: flex;
  width: 66.66%;
}

#oneThird {
  display: flex;
  width: 33.33%;
}
