#acadPlanWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  padding-bottom: 10px;
}

#plannerHeader {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#error {
  color: red;
}

#buttonSpacer {
  width: 10px;
}
