#wholeButton {
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  padding-right: 7px;
  height: 40px;
  cursor: pointer;
  background-color: #1100b6;
  /* box-shadow: inset; */
  /* border: 1px solid orange; */
}

#description {
  padding-right: 5px;
  padding-left: 10px;
  font-weight: 500;
  color: white;
  white-space: nowrap;
}
