#inputFields {
  border-style: solid;
  width: fit-content;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-grow: 1;
  border-radius: 15px;
  width: 130px;
  padding: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

#inputFieldsText {
  margin-right: 3px;
}

#inputWrapper {
  width: fit-content;
  height: fit-content;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  border-style: solid;
}

input {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-size: 17px;
  background-color: transparent;
  border-style: hidden;
  outline: none;
}
