#acadPlanWrapper {
  /* border: 2px solid green; */
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  padding-bottom: 10px;
}

#plannerHeader {
  /* border: 2px solid orange; */
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  /* width: 100%; */
}

#error {
  color: red;
}

#buttonSpacer {
  width: 10px;
}
