#appWrapper {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  min-width: fit-content;
  height: fit-content;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 15px;
}

#appTitle {
  font-weight: 600;
  font-size: 22px;
  margin-top: 5px;
  margin-left: 5px;
}

#rightGroup {
  display: flex;
}

#appHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
