#mainBox {
  border-style: solid;
  display: flex;
  flex: 0 1 calc(25% - 42px);
  margin: 10px;
  padding: 10px;
  height: fit-content;
  border-radius: 15px;
  flex-direction: column;
}

#semesterHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}
