a {
  text-decoration: none;
}

#darkTheme {
  background-color: darkgrey;
  width: 100%;
  height: 100%;
}

#lightTheme {
  background-color: white;
  width: 100%;
  height: 100%;
}

#headerBanner {
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  display: flex;
  flex-grow: 1;
}

#spacer {
  width: 10px;
}

#darkModeChecker {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 20px;
}

#logoPadding {
  padding: 20px;
}

#error {
  color: darkgray;
}

#wholePageCenter {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

#darkModeWords {
  font-weight: 600;
  font-size: 15px;
}

#rightMenu {
  display: flex;
}

#shareButton {
  width: 80px;
  border-radius: 7px;
  height: 40px;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-right: 20px;
  cursor: pointer;
  background-color: #1100b6;
}

#shareText {
  color: white;
}

#forceFooterToBtm {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  min-width: fit-content;
  justify-content: space-between;
}

#fitContent {
  width: 100%;
  min-width: fit-content;
}
